<div class="flex margin-bottom-1">
    <p-floatLabel class="margin-right-1">
        <input pInputText id="ingredient" [(ngModel)]="ingredient" />
        <label for="ingredient">Search by Ingredient</label>
    </p-floatLabel>
    <p-button label="Search" (onClick)="searchByIngredient()" />
    
</div>
<p-table [value]="meals()" dataKey="id">
    <ng-template pTemplate="header">
    <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-meal let-expanded="expanded">
    <tr>
        <td>
        <p-button
            type="button"
            pRipple
            [pRowToggler]="meal"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
        </td>
        <td>{{ meal.name }}</td>
    </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-meal>
    <tr>
        <td colspan="7">
        <div class="p-3">
            <p-table [value]="meal.ingredient" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                        <th pSortableColumn="grams">Grams <p-sortIcon field="grams" /></th>
                        <th pSortableColumn="nutrients">Nutrients <p-sortIcon field="nutrients" /></th>
                        <th style="width: 4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ingredient>
                    <tr>
                        <td>{{ ingredient.name }}</td>
                        <td>{{ ingredient.grams }}</td>
                        <td>{{ this.mapNutrients(ingredient.nutrients) }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
    </tr>
    </ng-template>
</p-table>